@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:wght@300..700&family=PT+Mono&family=Source+Code+Pro:wght@300..700&family=Poppins:wght@300..700&display=swap');

:root {
    --rem: clamp(0px, 1.5vh, 24px);
    --header-top: 2rem;
    --margin-gap: 1rem;

    --pri-colour-darkest: #051823;
    --pri-colour-em-darker: #092533;
    --pri-colour-m-darker: #1c4d67;
    --pri-colour-darker: #307aa0;
    --pri-colour-medium: #00d2ff;
    --pri-colour-lighter: #80e8ff;
    --pri-colour-lightest: #bde4fc;

    --sec-colour-darkest: #00272b;
    --sec-colour-m-darker: #015259;
    --sec-colour-darker: #02818b;
    --sec-colour-medium: #00f2ff;
    --sec-colour-lighter: #8adee7;
    --sec-colour-lightest: #b6e9ee;

    --red-colour-darkest: #33191b;
    --red-colour-m-darker: #67383c;
    --red-colour-darker: #a15a60;
    --red-colour-medium: #ff4d4d;
    --red-colour-lighter: #ffb8bc;
    --red-colour-lightest: #ffd1d3;

    --shades-darkest: #000000;
    --shades-em-darker: #222222;
    --shades-m-darker: #484848;
    --shades-darker: #717171;
    --shades-medium: #aeaeae;
    --shades-lighter: #cecece;
    --shades-em-lighter: #dedede;
    --shades-lightest: #ffffff;
    --shades-black: #000000;

    --opacity-none: 0;
    --opacity-low: 0.25;
    --opacity-medium: 0.5;
    --opacity-high: 0.75;

    --component-text: color-mix(in srgb, var(--shades-darker), var(--shades-medium));
    --component-text-hover: var(--shades-medium);
    --component-background: rgb(from var(--shades-darkest) r g b / 0.25);
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.header-controls {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-end;
    position: relative;

    @media (width < 1024px) {
        width: 100%;
        justify-content: center;
    }
}

.header-btn {
    cursor: pointer;
    padding: 1rem 1.75ch;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    border: none;
    color: var(--shades-lightest);
    box-shadow: inset 0 1px oklch(100% none none / 0.25);
    min-width: 8rem;

    --top-colour: var(--shades-m-darker);
    --bottom-colour: var(--shades-em-darker);

    background: linear-gradient(to bottom, var(--top-colour), var(--bottom-colour) 45%, transparent 55%) 0% 100% / 100% 210% no-repeat, var(--component-background);
    transition: background-position 0.125s ease-out, transform 0.2s, filter 0.2s;
    background-position: 0% 100%;

}

.header-btn:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
}

.header-btn:disabled {
    color: var(--component-text);
    cursor: not-allowed;
}

.header-btn:disabled:hover {
    filter: none;
    transform: none;
}

.header-btn.vibrant {
    --top-colour: var(--sec-colour-m-darker);
    --bottom-colour: var(--pri-colour-darkest);
    background-position: 0% 0%;
}

.settings-container {
    position: relative;
    display: flex;

    @media (width < 1024px) {
        position: static;
    }
}

#mainSettings {
    position: absolute;
    z-index: 1001;
    top: calc(100% + var(--header-top)); /* dynamic gap below the buttons */
    right: 0;
    width: clamp(320px, 90vw, 560px);
    max-height: calc(100vh - 9rem);
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    box-sizing: content-box;
    background: rgb(from #000 r g b / 0.25);
    border-radius: 4rem;
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */

    @media (width < 1024px) {
        left: 0;
        right: 0;
        width: 100%;
        top: calc(100% + var(--margin-gap));
        bottom: calc(100% + var(--header-top) + var(--margin-gap) - 100vh);
        max-height: none;
        box-sizing: border-box;
        border-radius: 2rem;
        padding: 0;
        background: none;
    }
}

#mainSettings::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#mainSettings {
    font-family: 'Poppins', sans-serif;
}

#mainSettings > section {
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.05) inset;

    @media (width < 1024px) {
        padding: 1.25rem;
        gap: 1.25rem;
        background: rgb(from var(--pri-colour-darkest) r g b / 0.5);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        backdrop-filter: blur(25px) saturate(100%) brightness(1.5);
        z-index: -1;
    }
}

#mainSettings > section > h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--shades-medium);
}

#mainSettings > section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    --component-gap: 0.5rem;
    --component-background-selected: linear-gradient(to right, var(--shades-m-darker), var(--shades-em-darker));
    --component-box-shadow: inset 0 1px oklch(100% none none / 0.25), inset 0 -1px rgb(from var(--shades-m-darker) r g b / 0.5);
    --component-box-shadow-selected: inset 0 1px oklch(100% none none / 0.25), inset 0 -1px rgb(from var(--shades-m-darker) r g b / 0.5);
    --component-box-shadow-focused: 0 0 1.5em var(--shades-medium);
    gap: var(--component-gap);
}

#mainSettings > section > ul > li {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;

    @media (width < 1024px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}

#mainSettings > section > ul > li > span {
    cursor: auto;
    grid-column: span 3;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--component-text);

    @media (width < 1024px) {
        font-size: 1rem;
    }
}

#mainSettings > section > ul > li > div {
    grid-column: span 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--component-gap);
    color: var(--component-text);
    font-size: 1rem;

    @media (width < 1024px) {
        width: 100%;
    }
}

#mainSettings .dropdown {
    user-select: none;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    text-align: left;
    box-sizing: content-box;
    position: relative;
    flex: 1;
}

#mainSettings .dropdown > input {
    appearance: none;
    position: absolute;
    margin: 0;
}

#mainSettings .dropdown:focus-within > input:checked ~ ul {
    display: flex;
}

#mainSettings .dropdown:focus-within > output {
    z-index: 1;
    box-shadow: var(--component-box-shadow-focused);
}

#mainSettings .dropdown:focus-within > input:checked + output {
    border-radius: 1rem 1rem 0 0;
}

#mainSettings .dropdown:focus-within > input:checked ~ ul {
    border-radius: 0 0 1rem 1rem;
}

#mainSettings .dropdown > output {
    outline: none !important;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: url("data:image/svg+xml,%3Csvg fill='%23484848' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z'%3E%3C/path%3E%3C/svg%3E") right 1rem top 50% / 1ch no-repeat, var(--component-background);
    border-radius: 1rem;
    padding: 1rem;
    padding-right: calc(1rem + 2ch);
}

#mainSettings .dropdown > output:hover {
    color: var(--component-text-hover);
}

#mainSettings .dropdown > ul {
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 100%;
    display: none;
    margin: 0;
    margin-top: 0.25rem;
    padding: 1em;
    gap: 0.5em;
    flex-direction: column;
    background: rgb(from color-mix(in srgb, var(--shades-darkest), var(--pri-colour-darkest) 75%) r g b / 0.75);
    backdrop-filter: blur(25px);
    border-radius: 1rem;
    box-shadow: 0px 10px 10px 2.5px rgb(from var(--shades-black) r g b / 0.5);
    list-style: none;
}

#mainSettings .dropdown > ul > li {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#mainSettings .dropdown > ul > li:hover {
    color: var(--component-text-hover);
}

#mainSettings .number {
    user-select: none;
    position: relative;
    width: fit-content;
    color: var(--component-text);
    padding: 1rem;
    background: var(--component-background);
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
}

#mainSettings .number:hover {
    color: var(--component-text-hover);
}

#mainSettings .number > output {
    display: flex;
    align-items: center;
}

#mainSettings .number > output > input {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    width: 3ch;
    text-align: center;
    outline: none;
}

#mainSettings .number > output > input::-webkit-outer-spin-button,
#mainSettings .number > output > input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

#mainSettings .number > output > input[type=number] {
  -moz-appearance: textfield !important;
}

#mainSettings .number > output > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#mainSettings .number > output > div > svg {
    cursor: pointer;
    width: 1ch;
}

#mainSettings .checkbox {
    user-select: none;
    position: relative;
    display: flex;
    border-radius: 1rem;
    background: var(--component-background);
    flex: 1;
    cursor: pointer;
    overflow: hidden;
}

#mainSettings .checkbox::before {
    position: absolute;
    content: '';
    height: 100%;
    left: 0%;
    width: 50%;
    border-radius: inherit;
    background: var(--component-background-selected);
    box-shadow: var(--component-box-shadow-selected);
    z-index: 0;
    transition: 0.25s;
}

#mainSettings .checkbox:has(:checked)::before {
    left: 50%;
}

#mainSettings .checkbox > input {
    appearance: none;
    position: absolute;
    margin: 0;
}

#mainSettings .checkbox > span {
    position: relative;
    flex: 1;
    padding: 1rem;
    text-align: center;
    z-index: 1;
}

#mainSettings .checkbox > span:hover {
    color: var(--component-text-hover);
}

#mainSettings .radio-group {
    user-select: none;
    display: flex;
    gap: var(--component-gap);
    flex: 1;
}

#mainSettings .radio-group > label {
    flex: 1;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    --top-colour: var(--shades-m-darker);
    --bottom-colour: var(--shades-em-darker);
    background: linear-gradient(to bottom, var(--top-colour), var(--bottom-colour) 45%, transparent 55%) 0% 100% / 100% 210% no-repeat, var(--component-background);
    transition: background-position 0.125s ease-out;
}

#mainSettings .radio-group > label:has(:checked) {
    box-shadow: var(--component-box-shadow-selected);
    background-position: 0% 0%;
}

#mainSettings .radio-group > label:hover {
    color: var(--component-text-hover);
}

#mainSettings .radio-group > label > input {
    appearance: none;
    position: absolute;
    margin: 0;
}

body {
    font-size: clamp(8px, 1.5vh, 24px);
    margin: 0;
    height: 100dvh;
    overflow: hidden;
    background: url('../assets/nycss-bg-pattern.png') 0 0.1dvh / 5dvh repeat,
    linear-gradient(45deg, black, var(--pri-colour-em-darker)),
    #0C2430;
}

main {
    height: 100%;
}

#code-editor-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: var(--header-top) 2rem 2rem 2rem;
    gap: 2.625rem;
    position: relative;

    @media (width < 1024px) {
        padding-left: var(--margin-gap);
        padding-right: var(--margin-gap);
        gap: 1.625rem;
    }

    > #code-editor {
        flex: 1;
        max-width: 100%;
        aspect-ratio: var(--total-width) / 7;
        --gutter-width: 0.5;
        --editor-width: 5;
        --total-width: calc(var(--gutter-width) + (2 * var(--editor-width)));
        display: flex;
        gap: calc((var(--gutter-width) / var(--total-width)) * 100%);

        @media (width < 1024px) {
            display: grid;
        }

        .editorGroup {
            width: 100%;
            display: flex;
            flex-direction: column;

            &:has(button:active) {
                --onClickValue1: 0.75;
                --opacity-medium: var(--onClickValue2, unset);
                animation: onClick 1s;
            }

            &:has(#inputEditor.drag-hover) {
                --opacity-medium: 0.75;
            }
        }

        .editorTab {
            --background-colour: rgb(from var(--shades-darkest) r g b / 0.25);
            --window-text-colour: rgb(from var(--shades-darker) r g b / var(--opacity-medium));
            line-height: 100%;
            color: rgb(from var(--shades-medium) r g b / 50%);
            font-size: 1rem;
            font-family: "Fira Code", monospace;
            border: 0.25rch solid var(--window-text-colour);
            border-radius: 1rem 1rem 0 0;
            border-bottom: none;
            background-color: var(--background-colour);
            display: flex;
            justify-content: space-between;
            padding: 1rem !important;

            > .fileName {
                font-size: 1em;
                align-content: center;

                &[cursor]::after {
                    content: attr(cursor);
                    font-size: 0.75em;
                    opacity: 0.6;
                }
            }

            > .tabButtons {
                font-size: 0.75em;
                display: flex;
                gap: 1em;

                > button {
                    font-size: inherit;
                    height: 2em;
                    width: 2em;
                    border: none;
                    border-radius: 50%;
                    background-color: transparent;
                    background-position: center;
                    background-size: cover;
                    filter: invert(0.4431);
                    opacity: var(--opacity-medium);
                    cursor: pointer;

                    &.tabCopyAll {
                        background-image: url('../assets/icon-copy.svg');
                    }

                    &.tabOpenRaw {
                        background-image: url('../assets/icon-open-external.svg');
                    }

                    &.tabInsertCSS {
                        background-image: url('../assets/icon-add-file.svg');
                    }

                    &.tabDeleteAll {
                        background-image: url('../assets/icon-erase.svg');
                    }
                }
            }
        }

        .editor {
            flex: 1;
        }
    }
}