@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base, framework, notScoped, scoped;

@layer framework {
    :root {
        font-size: clamp(0px, 1.5dvh, 24px);

        --lightness-darkest: 20%;
        --chroma-darkest: 0.0424;

        --lightness-em-darker: 25%;
        --chroma-em-darker: 0.0424;

        --lightness-m-darker: 40%;
        --chroma-m-darker: 0.0679;

        --lightness-darker: 55%;
        --chroma-darker: 0.0935;

        --lightness-medium: 75%;
        --chroma-medium: 0.1278;

        --lightness-lighter: 85%;
        --chroma-lighter: 0.0821;

        --lightness-lightest: 90%;
        --chroma-lightest: 0.0522;

        --hue-pri-colour: 235;
        --hue-sec-colour: 205;
        --hue-red-colour: 15;
        --hue-shades: 360;

        --pri-colour-darkest: oklch(var(--lightness-darkest) var(--chroma-darkest) var(--hue-pri-colour));
        --pri-colour-em-darker: oklch(var(--lightness-em-darker) var(--chroma-em-darker) var(--hue-pri-colour));
        --pri-colour-m-darker: oklch(var(--lightness-m-darker) var(--chroma-m-darker) var(--hue-pri-colour));
        --pri-colour-darker: oklch(var(--lightness-darker) var(--chroma-darker) var(--hue-pri-colour));
        --pri-colour-medium: oklch(var(--lightness-medium) var(--chroma-medium) var(--hue-pri-colour));
        --pri-colour-lighter: oklch(var(--lightness-lighter) var(--chroma-lighter) var(--hue-pri-colour));
        --pri-colour-lightest: oklch(var(--lightness-lightest) var(--chroma-lightest) var(--hue-pri-colour));

        --sec-colour-darkest: oklch(var(--lightness-darkest) var(--chroma-darkest) var(--hue-sec-colour));
        --sec-colour-em-darker: oklch(var(--lightness-em-darker) var(--chroma-em-darker) var(--hue-sec-colour));
        --sec-colour-m-darker: oklch(var(--lightness-m-darker) var(--chroma-m-darker) var(--hue-sec-colour));
        --sec-colour-darker: oklch(var(--lightness-darker) var(--chroma-darker) var(--hue-sec-colour));
        --sec-colour-medium: oklch(var(--lightness-medium) var(--chroma-medium) var(--hue-sec-colour));
        --sec-colour-lighter: oklch(var(--lightness-lighter) var(--chroma-lighter) var(--hue-sec-colour));
        --sec-colour-lightest: oklch(var(--lightness-lightest) var(--chroma-lightest) var(--hue-sec-colour));

        --red-colour-darkest: oklch(var(--lightness-darkest) var(--chroma-darkest) var(--hue-red-colour));
        --red-colour-em-darker: oklch(var(--lightness-em-darker) var(--chroma-em-darker) var(--hue-red-colour));
        --red-colour-m-darker: oklch(var(--lightness-m-darker) var(--chroma-m-darker) var(--hue-red-colour));
        --red-colour-darker: oklch(var(--lightness-darker) var(--chroma-darker) var(--hue-red-colour));
        --red-colour-medium: oklch(var(--lightness-medium) var(--chroma-medium) var(--hue-red-colour));
        --red-colour-lighter: oklch(var(--lightness-lighter) var(--chroma-lighter) var(--hue-red-colour));
        --red-colour-lightest: oklch(var(--lightness-lightest) var(--chroma-lightest) var(--hue-red-colour));

        --shades-darkest: oklch(var(--lightness-darkest) none none);
        --shades-em-darker: oklch(var(--lightness-em-darker) none none);
        --shades-m-darker: oklch(var(--lightness-m-darker) none none);
        --shades-darker: oklch(var(--lightness-darker) none none);
        --shades-medium: oklch(var(--lightness-medium) none none);
        --shades-lighter: oklch(var(--lightness-lighter) none none);
        --shades-lightest: oklch(var(--lightness-lightest) none none);

        --shades-black: black;
        --shades-white: white;

        --opacity-low: 0.25;
        --opacity-medium: 0.50;
        --opacity-high: 0.75;
    }

    * {
        box-sizing: border-box;
        &[hidden] { display: none; }
    }

    body {
        margin: 0;
        height: 100dvh;
        background-color: var(--shades-black);
        overflow: hidden;
    }
}

@layer scoped {
    body {
        @scope (#siteWrapper) {
            & {
                margin: 0 auto;
                width: 100%;
                height: 100dvh;
                contain: paint;
                overflow: hidden;

                > main {
                    --padding: 2rem;
                    display: flex;
                    justify-content: flex-end;
                    height: 100dvh;
                    width: 100%;
                    padding: var(--padding);
                }
            }
        }

        @scope (#mainSettings) {
            & {
                flex: 0;
                height: 100%;
                min-width: calc((58.441558ch * 1.232));
                margin-right: var(--padding);
                display: flex;
                flex-direction: column;
                contain: paint inline-size;
                gap: var(--padding);
                padding-bottom: calc((3/4) * var(--padding));
                overflow: hidden auto;

                > section {
                    border-radius: 3rem;
                    --panel-background: color-mix(in srgb, var(--shades-darkest), var(--shades-black) 75%);
                    background-color: var(--panel-background);
                    padding: var(--padding);
                    min-width: 58.441558ch;
                    display: flex;
                    flex-direction: column;
                    gap: var(--padding);
                    font-family: 'Poppins', 'Calibri', sans-serif;

                    > h2 {
                        margin: 0;
                        font-size: 1.25rem;
                        font-weight: normal;
                        color: var(--shades-medium);
                    }
                }
            }
        }

        @scope (#mainSettings > section > ul) {
            & {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                --component-gap: calc(var(--padding) / 4);
                --component-background: color-mix(in srgb, var(--shades-black), var(--shades-darkest));
                --component-background-selected: linear-gradient(to right, var(--shades-m-darker), var(--shades-em-darker));
                --component-box-shadow-selected: inset 0 calc(1rem / 16) oklch(100% none none / var(--opacity-low));
                --component-box-shadow-focused: 0 0 1.5em var(--shades-medium);
                --component-text: color-mix(in srgb, var(--shades-darker), var(--shades-medium));
                --component-text-hover: var(--shades-medium);
                gap: var(--component-gap);

                > li {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);

                    > span {
                        cursor: auto;
                        grid-column: span 3;
                        align-content: center;
                        font-size: 1.125rem;
                        font-weight: 300;
                        color: var(--component-text);
                    }

                    > div {
                        grid-column: span 7;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: var(--component-gap);
                        color: var(--component-text);
                        font-size: 1rem;

                        > label { flex: 1; }

                        > .dropdown {
                            user-select: none;
                            display: inline-flex;
                            flex-direction: column;
                            position: relative;

                            > input { appearance: none; position: absolute; }

                            &:focus-within > input:checked ~ ul {
                                position: absolute;
                                z-index: 999;
                                top: 100%;
                                width: 100%;
                                display: flex;
                                margin: 0.25rem 0 0;
                                padding: 1em;
                                gap: 0.5em;
                                flex-direction: column;
                                background: var(--component-background);
                                border-radius: 0 0 1rem 1rem;
                                box-shadow: 0 10px 10px rgba(0,0,0,0.5);

                                > li {
                                    outline: none;
                                    &:hover, &:focus { color: var(--component-text-hover); cursor: pointer; }
                                }
                            }

                            > output {
                                cursor: pointer;
                                background: url("data:image/svg+xml,%3Csvg fill='%23484848' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z'%3E%3C/path%3E%3C/svg%3E") right 1rem top 50% / 1ch no-repeat, var(--component-background);
                                border-radius: 1rem;
                                padding: 1rem;
                                padding-right: 3rem;
                                &:hover { color: var(--component-text-hover); }
                            }
                        }

                        > .number {
                            position: relative;
                            padding: 1rem;
                            background: var(--component-background);
                            border-radius: 1rem;
                            display: flex;
                            align-items: center;
                            gap: 1ch;

                            > output > input {
                                background: transparent;
                                border: none;
                                color: inherit;
                                font: inherit;
                                width: 3ch;
                                outline: none;
                            }

                            svg { cursor: pointer; width: 1ch; }
                        }

                        > .checkbox {
                            position: relative;
                            display: flex;
                            border-radius: 1rem;
                            background: var(--component-background);
                            &::before {
                                content: '';
                                position: absolute;
                                height: 100%;
                                width: 50%;
                                border-radius: inherit;
                                background: var(--component-background-selected);
                                transition: 0.25s;
                                left: 0;
                            }
                            &:has(:checked)::before { left: 50%; }
                            > input { appearance: none; position: absolute; }
                            > span { position: relative; cursor: pointer; flex: 1; padding: 1rem; text-align: center; }
                        }

                        > .radio-group {
                            display: flex;
                            gap: var(--component-gap);
                            flex: 1;
                            > label {
                                flex: 1;
                                cursor: pointer;
                                padding: 1rem;
                                text-align: center;
                                border-radius: 1rem;
                                background: var(--component-background);
                                transition: 0.125s;
                                &:has(:checked) {
                                    background: var(--component-background-selected);
                                    box-shadow: var(--component-box-shadow-selected);
                                }
                                > input { appearance: none; position: absolute; }
                            }
                        }
                    }
                }
            }
        }

        @scope (#mainContent) {
            & {
                flex: 1;
                background: var(--shades-black);
                border-radius: 3rem;
                display: flex;
            }
        }

        @scope (#editorSide) {
            & {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                > #nestBtn {
                    cursor: pointer;
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    z-index: 10;
                    background: var(--pri-colour-lighter);
                    border: none;
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: inset 0 0 1em var(--shades-black);
                    transition: scale 0.3s;
                    &:hover { scale: 1.1; background: white; }
                    &::before { content: 'Nest!'; font-family: 'Poppins'; font-weight: bold; }
                    > div, > span { display: none; } /* Hide the fancy background layers for now to keep it simple */
                }

                > #codeEditor {
                    width: calc(100% - 4rem);
                    height: calc(100% - 4rem);
                    display: flex;
                    gap: 1rem;

                    .editorWrapper {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        background: rgba(255,255,255,0.03);
                        border-radius: 1rem;
                        overflow: hidden;

                        .editorGroup {
                            flex: 1;
                            display: flex;
                            flex-direction: column;

                            .editorTab {
                                background: rgba(0,0,0,0.2);
                                padding: 0.75rem 1rem;
                                border-bottom: 1px solid rgba(255,255,255,0.1);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-family: 'Fira Code';
                                font-size: 0.9rem;
                                color: var(--shades-medium);

                                .tabButtons button {
                                    background: none;
                                    border: none;
                                    cursor: pointer;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    background-image: url('../assets/icon-copy.svg');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    filter: invert(0.5);
                                    &:hover { filter: invert(0.8); }
                                }

                                .editorCoordinates {
                                    font-size: 0.75rem;
                                    color: var(--shades-m-darker);
                                    align-content: center;
                                }
                            }
                            .editor { flex: 1; }
                        }
                    }
                    #editorGap { width: 1rem; }
                }
            }
        }
    }
}
